<template>
  <div class="landing_section">
    <div class="home_banner container container414_551">
      <figure>
        <img src="~images/home_banner.jpg" alt="home banner" class="responsive_image">
      </figure>
      <h1>Welcome <br/> to STYFI</h1>
      <div class="home_action_btn">
          <router-link to="/men">Shop Men</router-link><br/>
          <router-link to="/women">Shop Women</router-link>
      </div>
    </div>

    <!-- <div class="home_two_card">
      <img src="~images/home_card.jpg" alt="" class="responsive_image">
      <img src="~images/home_card.jpg" alt="" class="responsive_image">
    </div> -->

    <!-- <div class="subscription">
      <p>Fear of missing out?</p>
      <span>Subscribe to our newsletter to stay updated</span>
      <input type="text" placeholder="Enter your email address" class="subscribe_input">
      <button type="submit" class="prime_button subscribe_button">Subscribe</button>
    </div> -->
  </div>
</template>
<script>
export default {
}
</script>
<style lang="scss">
  @import '~style/home';
</style>
