<template>
  <div v-if="productDetail">
    <div class="pdp_banner_slider">
      <carousel :perPage="1">
        <slide v-for="(image, index) in selectedVariant.image.images" :key="index">
          <div class="container container4_5">
            <figure>
              <img :src="getImageFromObject(selectedVariant.image, 'jpg', index, 'large')" alt="">
            </figure>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="pdp_product_info" ref="productInfo">
      <span class="pdd_product_brand">{{brand.name}}</span>
      <span class="pdp_product_name">{{name}}</span>
      <span class="pdp_price_wrapper">
        <span class="pdp_product_price">₹ {{offer.sellingPrice}}</span>
        <template v-if="offer.originalPrice > offer.sellingPrice">
          <span class="pdp_product_ogprice">₹ {{offer.originalPrice}}</span>
          <span class="pdp_product_discount">{{offer.perc}}%</span>
        </template>
      </span>
    </div>
    <div class="select_size" v-if="variants.length > 1">
      <div class="select_size_heading">
        <span>Available Colors</span>
      </div>
      <ul>
        <li v-for="(variant, index) in variants" :key="index">
          <div class="color-circle" :class="{color_active: (variant.color.id === selectedVariant.color.id)}"
            :style="{backgroundColor:`#${variant.color.hex}`}" @click="selectVariant(variant.color.id)">
          </div>
        </li>
      </ul>
    </div>
    <div class="select_size">
      <div class="select_size_heading">
        <span>Select your size</span>
        <span>
          <button class="size_char" @click="openSizeChart">Size Chart</button>
        </span>
      </div>
      <ul ref="sizeList">
        <li v-for="(size, index) in selectedVariant.sizes" :key="index" :class="{out_of_stock: size.quantity <= 0}">
          <button class="size_button"
            :class="{selected_size: selectedSize.sku === size.sku}"
            :disabled="size.quantity <= 0"
            @click="onSizeClick(size)">{{size.label}}</button>
        </li>
      </ul>
    </div>
    <div class="bag_btn_wrapper">
      <div class="add_to_bag" :class="{btn_fixed:buyBtnFixed}">
        <span class="wishlist_background" @click="addToWishlist">
          <span class="global_icon black_heart_icon" :class="{active: wishlisted}" ref="wishlistIcon"></span>
        </span>
        <button class="add_to_bag_btn" @click="addToBagClick" v-show="buyBtnFixed">
          <span class="global_icon add_to_bag_icon"></span> Add to bag
        </button>
        <button class="add_to_bag_btn" @click="addToBagClick" v-show="!buyBtnFixed">
          <template v-if="!gotoBag">
            <span class="global_icon add_to_bag_icon"></span> Add to bag
          </template>
          <template v-else>
            Go To Bag →
          </template>
        </button>
      </div>
      <div class="btn_tracker" ref="btnTracker"></div>
    </div>
    <div class="product_details">
      <input id="pdp_accordion" class="pdp_accordion_input" name="accordion" type="checkbox">
      <label for="pdp_accordion" class="pdp_accordion_label">Delivery &amp; Returns
        <i class="accor_icon"></i>
      </label>
      <div class="pdp_accord1">
        <div class="deliveryinput">
          <input class="pincode_input" type="text" placeholder="Enter delivery pincode">
          <button class="pin_chkbtn">CHECK</button>
          <button class="pin_chkbtn pinchange_btn" style="display: none;">CHANGE</button>
        </div>
        <div class="delivery_response">
          <div class="delivery_notavailable">
            <span class="global_icon cross_circle_icon"></span>
            <span>Sorry! This product is not available in your area.</span>
          </div>
          <div class="delivery_available">
            <span class="global_icon right_circle_icon"></span>
            <span>Available in your area</span>
          </div>
        </div>
        <div class="deliveryterms">
          <ul>
            <li>Standard Delivery in max 7 days.</li>
            <li>Cash on delivery available.</li>
            <li>Other options if any.
              <span class="viewReturn_policy">return policy</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product_details">
      <input id="pdp_accordion1" class="pdp_accordion_input" name="accordion" type="checkbox">
      <label for="pdp_accordion1" class="pdp_accordion_label">Product Details
        <i class="accor_icon"></i>
      </label>
      <div class="accord1 pdp_accord1">
        <div class="product_description">
          <p>{{description}}</p>
        </div>
      </div>
    </div>
    <div class="product_details">
      <input id="pdp_accordion2" class="pdp_accordion_input" name="accordion" type="checkbox">
      <label for="pdp_accordion2" class="pdp_accordion_label">About Brand
        <i class="accor_icon"></i>
      </label>
      <div class="accord1 pdp_accord1">
        <div class="brand-add">
          <a href="/brand/scarlet-ross" class="brandLink">
            <div class="brand-addinner">
              <img :src="brand.image" :alt="brand.name">
              <span>{{brand.name}}</span>
            </div>
          </a>
          <follow-button :id="brand.id" :following="brand.following"/>
        </div>
        <div class="product_description">
          <p>{{brand.description}}</p>
        </div>
      </div>
    </div>
    <div class="more_product" v-if="similarBrandProducts.length">
      <div class="scroll_section_wrapper">
        <div class="section_header">
          <span>More From {{brand.name}}</span>
          <router-link :to="brand.href">View All</router-link>
        </div>
        <div class="horizontal_scroll margin-left-right">
          <product-card v-for="(product,index) in similarBrandProducts" :key="index" :product="product"/>
        </div>
      </div>
    </div>
    <div class="more_product" v-if="similarProducts.length">
      <div class="scroll_section_wrapper">
        <div class="section_header">
          <span>Similar Products</span>
        </div>
        <div class="horizontal_scroll margin-left-right">
          <product-card v-for="(product,index) in similarProducts" :key="index" :product="product"/>
        </div>
      </div>
    </div>
    <!-- All the modal Wrapper will come here -->
    <size-chart v-if="showSizeChart" @closeChart="closeSizeChart" :sizeChartObj="sizeChartObj"></size-chart>
    <size-modal v-if="showSizeModal"
      :show="showSizeModal"
      :selectedVariant="selectedVariant"
      :productId="productId"
      :sizeChart="true"
      :openSizeChart="openSizeChart"
      @closeSizeModal="closeSizeSelector">
    </size-modal>
  </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel'
import {getImageFromObject} from 'utils'
import service from './service'
import ProductCard from '../../components/productCard'
import FollowButton from '../../components/followButton'
import SizeChart from './components/sizeChart'
import SizeModal from '../../components/modal/sizeModal'
export default {
  name: 'PDP',
  components: {
    Carousel,
    Slide,
    ProductCard,
    FollowButton,
    SizeChart,
    SizeModal
  },
  data () {
    return {
      productId: null,
      productDetail: null,
      name: null,
      description: null,
      selectedVariant: {},
      brand: {},
      offer: {},
      productCategory: {},
      variants: [],
      similarProducts: [],
      similarBrandProducts: [],
      sizeChartObj: {},
      btnTracker: null,
      prodInfoWrapper: null,
      ticking: false,
      buyBtnFixed: true,
      transparentHeader: true,
      showSizeChart: false,
      showSizeModal: false,
      selectedSize: {},
      gotoBag: false,
      wishlisted: false
    }
  },
  created () {
    if (this.$store.state.common.tokenChecked) {
      this.getProductDetails()
    }
  },
  methods: {
    async getProductDetails () {
      this.productId = this.$store.state.common.routeData.foreignKey
      try {
        const response = await service.getProductDetails(this.productId)
        this.productDetail = response.data
        this.onInitalProductData()
      } catch (error) {
        console.log(error)
      }
    },
    onInitalProductData () {
      this.mapData()
      this.getSimilarProducts()
      this.getSimilarBrandProducts()
      this.getSizeChart()
      this.$nextTick()
        .then(() => {
          this.btnTracker = this.$refs.btnTracker
          this.prodInfoWrapper = this.$refs.productInfo
          window.addEventListener('scroll', this.onPDPScroll.bind(this))
        })
    },
    mapData () {
      this.name = this.productDetail.name || 'Product Name'
      this.description = this.productDetail.description || 'Product Description'
      this.brand = {
        id: this.productDetail.brand.id || 0,
        href: this.productDetail.brand.href || '/',
        image: this.productDetail.brand.image || '',
        description: this.productDetail.brand.description || 'Brand Description',
        name: this.productDetail.brand.name || 'Brand Name',
        following: this.productDetail.brand.is_followed || false
      }
      this.offer = {
        originalPrice: this.productDetail.offer.original_price || 0,
        sellingPrice: this.productDetail.offer.selling_price || 0,
        value: this.productDetail.offer.value || 0,
        perc: this.productDetail.offer.perc || 0,
        enum: this.productDetail.offer.enum || 'D'
      }
      this.productCategory = this.productDetail.categories ? this.productDetail.categories.find((cat) => {
        return cat.is_leaf
      }) : {}
      this.variants = this.productDetail.variants || []
      this.selectedColorVariant()
    },
    selectedColorVariant () {
      const colorId = this.$route.query.color_id
      this.selectedVariant = this.variants[0] // variant is always preselected
      if (colorId) {
        const colorVariant = this.variants.find((variant) => (variant.color.id === colorId))
        if (colorVariant) {
          this.selectedVariant = colorVariant
        }
      }
      this.wishlisted = this.selectedVariant.is_wishlisted
    },
    async getSimilarProducts () {
      try {
        const responseData = await service.getSimilarProducts(this.productId, this.brand.id)
        this.similarProducts = responseData.data.data
      } catch (error) {
        console.log(error)
      }
    },
    async getSimilarBrandProducts () {
      try {
        const responseData = await service.getSimilarBrandProducts(this.productId, this.brand.id)
        this.similarBrandProducts = responseData.data.data
      } catch (error) {
        console.log(error)
      }
    },
    async getSizeChart () {
      try {
        const responseData = await service.getSizeChart(this.productId, this.brand.id, this.productCategory.id)
        this.sizeChartObj = responseData.data.data
        console.log(this.sizeChartObj)
      } catch (error) {
        console.log(error)
      }
    },
    onPDPScroll () {
      if (!this.ticking) {
        window.requestAnimationFrame(() => {
          this.scrollAction()
          this.ticking = false
        })
      }
      this.ticking = true
    },
    scrollAction () {
      /* const currentPos = window.scrollY */
      this.checkCartBtnPosition()
      this.checkHeaderTansparentStatus()
    },
    checkCartBtnPosition (currentPos) {
      const windHeight = window.innerHeight
      const btnPos = this.btnTracker.getBoundingClientRect().top
      if (windHeight >= btnPos) {
        this.buyBtnFixed = false
      } else {
        this.buyBtnFixed = true
      }
    },
    checkHeaderTansparentStatus () {
      const proInfoPos = this.prodInfoWrapper.getBoundingClientRect().top
      if (proInfoPos <= 60) { // here 60 header height make it dynamic
        this.transparentHeader = false
      } else {
        this.transparentHeader = true
      }
    },
    selectVariant (colorId) {
      this.$router.push({query: {color_id: colorId}})
    },
    addToBagClick () {
      if (this.buyBtnFixed) {
        this.showSizeModal = true
      } else {
        this.performAddToCart()
      }
    },
    performAddToCart () {
      if (this.gotoBag) {
        window.location = process.env.VUE_APP_CHECKOUT
      } else {
        if (Object.keys(this.selectedSize).length) {
          this.$store.dispatch('common/addProduct', this.productObject)
          this.gotoBag = true
        } else {
          const sizeList = this.$refs.sizeList
          sizeList.classList.add('shake-size')
          setTimeout(() => {
            sizeList.classList.remove('shake-size')
          }, 900)
        }
      }
    },
    openSizeChart () {
      this.showSizeChart = true
    },
    closeSizeChart () {
      this.showSizeChart = false
    },
    openSizeSelector () {
      this.showSizeModal = true
    },
    closeSizeSelector () {
      this.showSizeModal = false
    },
    onSizeClick (size) {
      this.selectedSize = size
      this.$store.dispatch('common/getDuplicateProduct', this.productObject)
        .then((status) => {
          this.gotoBag = status
        })
    },
    wishlistClicked () {
      if (this.$store.state.common.isLogin) {
        this.addToWishlist()
      } else {
        window.location = `${process.env.VUE_APP_STYFIENGAGE}/?referer=${window.location.href}`
      }
    },
    async addToWishlist () {
      try {
        const status = this.wishlisted ? 0 : 1
        const prodData = {product_id: this.productId, status, color_id: this.selectedVariant.color.id}
        await service.wishlistProduct(prodData)
        this.wishlisted = !this.wishlisted
        /* if (status) {
          this.$refs.wishlistIcon.classList.add('active')
        } else {
          this.$refs.wishlistIcon.classList.remove('active')
        } */
      } catch (error) {
        console.log(error)
      }
    },
    getImageFromObject
  },
  computed: {
    productObject () {
      const prodBagObject = {
        product_id: this.productId,
        color_id: this.selectedVariant.color.id,
        size_label: this.selectedSize.label,
        sku: this.selectedSize.sku
      }

      /* const prodBagObject = {
        id: this.productId,
        selected_quantity: 1,
        selected_size: {
          variant_id: this.selectedSize.sku,
          label: this.selectedSize.label,
          color: {
            id: this.selectedVariant.color.id
          }
        }
      } */
      return prodBagObject
    }
  },
  watch: {
    transparentHeader (val) {
      if (val) {
        this.$store.dispatch('common/updateHeaderClass', 'header_transparent_backbutton_withShare')
      } else {
        this.$store.dispatch('common/updateHeaderClass', 'header_backbutton_withShareIcon')
      }
    },
    '$store.state.common.tokenChecked' (val) {
      if (val) {
        this.getProductDetails()
      }
    }
  }
  /* beforeRouteUpdate (to, from, next) {
    console.log(to)
    console.log(from)
    this.getProductDetails()
    next()
  } */
}
</script>
<style lang="scss">
  @import "~style/mixin";
  @import '~style/pdp';
  .pdp_banner_slider {
    & .VueCarousel-pagination {
      position: absolute;
      bottom: 0;
    }
  }
  .selected_size {
    background: #323a45;
    color: #fff;
    border: 1px solid #323a45;
  }
  .shake-size {
    animation: shake-list 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  @keyframes shake-list {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
</style>
