<template>
  <div class="section_wrapper section_margin" v-if="blogsList">
    <div class="explore_news_card" v-for="(article,index) in blogsList" :key="index">
      <div class="brand_card_full">
        <div class="full_width_img_card">
          <div class="cardImg_hideOverflow">
            <router-link :to="article.href">
              <img :src="article.blog_image" alt="" class="cardImg">
            </router-link>
          </div>
        </div>
      </div>
      <div class="explore_news_details">
        <span class="explore_news_date">{{article.date}}</span>
        <span class="explore_curated_detail" v-html="article.name"></span>
        <p class="explore_news_content" v-html="article.description">
        </p>
        <router-link :to="article.href">
          <span class="explore_news_readmore">READ MORE</span>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import service from './service'
export default {
  data () {
    return {
      blogsList: null,
      gender: null
    }
  },
  created () {
    const { gender } = this.$route.params
    if (gender === 'men') {
      this.gender = 'male'
    } else if (gender === 'female') {
      this.gender = 'female'
    } else {
      // redirect
    }
    this.getBlogArticlesList()
  },
  methods: {
    async getBlogArticlesList () {
      try {
        const responseData = await service.getBlogArticlesList(this.gender)
        this.blogsList = responseData.data.data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
<style lang="scss">
@import '~style/mixin.scss';
@import '~style/explore.scss'
</style>
