<template>
  <div class="section_wrapper_plane">
    <ScrollWrapper :processing="processing" :isError="isError" :isOver="isOver" @toFetch="getCollectionList">
      <collection-card v-for="(collection, index) in collectionList" :key="index" :collectionDetail="collection"/>
    </ScrollWrapper>
    <div class="explore_news_comingup" v-if="isOver">New collections added every week</div>
  </div>
</template>
<script>
import service from './service'
import ScrollWrapper from '../../components/scrollComponent'
import CollectionCard from '../../components/collectionCard'
export default {
  name: 'CollectionList',
  data () {
    return {
      id: this.$store.state.common.routeData.foreignKey,
      gender: this.$route.params.gender === 'men' ? 'male' : 'female',
      collectionList: [],
      pageCount: 0,
      processing: true,
      isError: false,
      isOver: false
    }
  },
  created () {
    this.getCollectionList()
  },
  components: {
    ScrollWrapper,
    CollectionCard
  },
  methods: {
    async getCollectionList () {
      this.processing = true
      try {
        const responseData = await service.getCollectionsList(this.gender, this.pageCount, this.id)
        const newList = responseData.data.data
        if (newList.length) {
          this.pageCount += 1
          this.collectionList = [...this.collectionList, ...newList]
        } else {
          this.isOver = true
        }
        this.processing = false
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
