<template>
  <div>
    <topics-list :topicsList="topicsList" :topicType="topicType"/>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>
<script>
import TopicsList from '../../components/topic'
import service from './service'
export default {
  data () {
    return {
      gender: this.$route.params.gender === 'men' ? 'male' : 'female',
      topicsList: [],
      topicType: 'collections'
    }
  },
  components: {
    TopicsList
  },
  created () {
    this.getCollectionTopics()
  },
  methods: {
    async getCollectionTopics () {
      try {
        const responseData = await service.getCollectionTopics(this.gender)
        this.topicsList = responseData.data.data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
<style lang="scss">
@import '~style/mixin';
@import '~style/explore'
</style>
