<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>styfi-pwa</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but styfi-pwa doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="main_container">
      <!--header Template-->
      <div class="header">
        <div class="sidebar">
          <ul class="main_menu">
            <li class="men_menu gender_active">Men</li>
            <li class="women_menu">Women</li>
          </ul>
          <!-- men menu -->
          <ul class="submenu men">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion">
              <label for="accordion">Clothing
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion1">
              <label for="accordion1">Footwear
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion2">
              <label for="accordion2">Footwear
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion2">
              <label for="accordion2">Accessories
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Brands</a>
            </li>
            <li>
              <a href="#">Explore</a>
            </li>
            <li>
              <a href="#">Style Blog</a>
            </li>
          </ul>
  
          <!-- women menu -->
          <ul class="submenu women">
            <li>
              <a href="#">Home - W</a>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion">
              <label for="accordion">Clothing
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion1">
              <label for="accordion1">Footwear
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion2">
              <label for="accordion2">Footwear
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="accordian_wrapper">
              <input type="checkbox" name="accordion" id="accordion2">
              <label for="accordion2">Accessories
                <span class="global_icon open_arrow"></span>
                <span class="global_icon close_arrow"></span>
              </label>
              <ul class="inner_submenu">
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
                <li>
                  <a href="#">Tops, Tees & Shirts
                    <span class="counts">(***)</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Brands</a>
            </li>
            <li>
              <a href="#">Explore</a>
            </li>
            <li>
              <a href="#">Style Blog</a>
            </li>
          </ul>
  
  
          <!-- not logged in -->
          <ul class="account_wrapper not_logged_in">
            <span class="account_title">Account</span>
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Signup</a>
            </li>
          </ul>
  
          <!-- logged in -->
          <ul class="account_wrapper logged_in">
            <span class="account_title">Account</span>
            <li>
              <a href="#">My Profile</a>
            </li>
            <li>
              <a href="#">My Wishlist</a>
            </li>
            <li>
              <a href="#">My Orders</a>
            </li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </div>
        <div class="nav_section">
          <div class="nav">
            <span class="global_icon burder_icon"></span>
          </div>
          <div class="logo">
            <a href="/">
              <img src="./img/styfi_logo.png" alt="sytfi logo">
            </a>
          </div>
          <div class="cart_icon">
            <span class="global_icon cart_icon"></span>
          </div>
        </div>
        <div class="search_bar">
          <div class="search_bar_wrapper">
            <input type="text" placeholder="What are you looking for?">
            <span class="global_icon search_icon"></span>
          </div>
        </div>
        <div class="background_fadein"></div>
      </div>
      <!--End of Header Template-->
      <div class="body_container">
        <div id="app"></div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
