<template>
  <div class="brand_profile_wrapper" v-if="brandDetail">
    <div class="container container16_9">
      <figure>
        <img :src="brandDetail.mobile_cover_image" alt="">
      </figure>
    </div>
    <div class="brand_profile">
      <div class="brand_profile_logo">
        <figure>
          <img :src="brandDetail.image" alt="">
        </figure>
      </div>
      <p class="brand_profile_name">
        {{brandDetail.name}}
      </p>
      <follow-button :id="brandDetail.brand_id" :following="brandDetail.is_followed" />
    </div>
    <div class="product_details brand_details">
      <input id="pdp_accordion1" class="pdp_accordion_input" name="accordion" type="checkbox">
      <label for="pdp_accordion1" class="pdp_accordion_label brand_profile_label">Brand Details
        <i class="accor_icon"></i>
      </label>
      <div class="accord1 pdp_accord1">
        <div class="product_description">
          <p>{{brandDetail.description}}</p>
        </div>
      </div>
    </div>
    <PLPWrapper />
  </div>
</template>
<script>
import store from './store'// eslint-disable-line no-unused-vars
import service from './service'
import PLPWrapper from './components/plpWrapper'
import FollowButton from '../../components/followButton'
export default {
  name: 'BrandsProducts',
  components: {
    PLPWrapper,
    FollowButton
  },
  data () {
    return {
      brandId: this.$store.state.common.routeData.foreignKey,
      brandDetail: null,
      url: `/core/v2/brand/products?brand_id=${this.$store.state.common.routeData.foreignKey}`
    }
  },
  created () {
    this.getBrandsDetails()
    this.$store.dispatch('plp/resetState', this.url)
  },
  methods: {
    async getBrandsDetails () {
      try {
        const responseData = await service.getBrandDetails(this.brandId)
        this.brandDetail = responseData.data.data
        console.log(this.brandDetail)
      } catch (error) {
        console.log(error)
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log(to.query)
    const query = to.query
    next((vm) => {
      console.log('next')
      vm.$store.dispatch('plp/onRouteChange', query)
        .then(() => {
          vm.$store.dispatch('plp/getInitProducts')
        })
    })
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.query)
    const query = to.query
    this.$store.dispatch('plp/onRouteChange', query)
      .then(() => {
        this.$store.dispatch('plp/getInitProducts')
      })
    next()
  }
}
</script>
<style lang="scss">
@import '~style/mixin.scss';
@import '~style/brandprofile.scss'
</style>
