<template>
  <div v-if="collectionDetails">
    <div class="container">
      <div class="container4_5">
        <figure>
          <img :src="collectionDetails.image_detail.medium" alt="">
        </figure>
      </div>
      <div class="explore_banner_overlay">
        <span class="looks_overlay_title">{{collectionDetails.topic_name}}</span>
        <span class="looks_overlay_detail">{{collectionDetails.name}}</span>
        <span class="explore_overlay_prod">{{collectionDetails.count_products}} Products</span>
      </div>
    </div>
    <PLPWrapper />
  </div>
</template>
<script>
import store from './store'// eslint-disable-line no-unused-vars
import service from './service'
import PLPWrapper from './components/plpWrapper'
export default {
  name: 'CollectionDetails',
  components: {
    PLPWrapper
  },
  data () {
    return {
      collectionId: this.$store.state.common.routeData.foreignKey,
      collectionDetails: null,
      url: `/core/v2/collection/products?aggs=false&collection_id=${this.$store.state.common.routeData.foreignKey}`
    }
  },
  created () {
    this.getCollectionDetails()
    this.$store.dispatch('plp/resetState', this.url)
    this.$store.dispatch('plp/toggleFullFilterMode', false)
  },
  methods: {
    async getCollectionDetails () {
      try {
        const responseData = await service.getCollectionDetails(this.collectionId)
        this.collectionDetails = responseData.data.data
      } catch (error) {
        console.log(error)
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log(to.query)
    const query = to.query
    next((vm) => {
      console.log('next')
      vm.$store.dispatch('plp/onRouteChange', query)
        .then(() => {
          vm.$store.dispatch('plp/getInitProducts')
        })
    })
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.query)
    const query = to.query
    this.$store.dispatch('plp/onRouteChange', query)
      .then(() => {
        this.$store.dispatch('plp/getInitProducts')
      })
    next()
  }
}
</script>
<style lang="scss">
  @import '~style/mixin';
  @import '~style/explore'
</style>
