<template>
  <PLPWrapper />
</template>
<script>
import store from './store'// eslint-disable-line no-unused-vars
import PLPWrapper from './components/plpWrapper'
export default {
  name: 'Curated',
  components: {
    PLPWrapper
  },
  data () {
    return {
      contentId: this.$store.state.common.routeData.foreignKey,
      url: `/core/v2/curated/products?content_id=${this.$store.state.common.routeData.foreignKey}`
    }
  },
  created () {
    console.log('created')
  },
  mounted () {
    console.log('Mounted')
    this.$store.dispatch('plp/resetState', this.url)
  },
  beforeRouteEnter (to, from, next) {
    console.log(to.query)
    const query = to.query
    next((vm) => {
      console.log('next')
      vm.$store.dispatch('plp/onRouteChange', query)
        .then(() => {
          vm.$store.dispatch('plp/getInitProducts')
        })
    })
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.query)
    const query = to.query
    this.$store.dispatch('plp/onRouteChange', query)
      .then(() => {
        this.$store.dispatch('plp/getInitProducts')
      })
    next()
  }

}
</script>
