<template>
  <PLPWrapper />
</template>
<script>
import store from './store'// eslint-disable-line no-unused-vars
import service from './service'
import PLPWrapper from './components/plpWrapper'
export default {
  name: 'PLP',
  components: {
    PLPWrapper
  },
  data () {
    return {
      gender: this.$route.params.gender === 'men' ? 'M' : 'F',
      categoryId: this.$store.state.common.routeData.foreignKey,
      url: `/core/v2/category/products?gender=${this.$route.params.gender === 'men' ? 'M' : 'F'}&category_id=${this.$store.state.common.routeData.foreignKey}`
    }
  },
  created () {
    console.log('created')
  },
  mounted () {
    console.log('Mounted')
    this.$store.dispatch('plp/resetState', this.url)
  },
  methods: {
    async getProducts () {
      try {
        const url = this.$store.state.plp.url
        const params = this.$store.state.plp.queryParams
        const responseData = await service.getProductsList(url, params)
        const productData = responseData.data
        const initProdData = {
          products: productData.data,
          filters: productData.meta.filters,
          sorter: productData.meta.sorter,
          searchAfter: productData.meta.search_after,
          count: productData.meta.count
        }
        this.$store.dispatch('plp/updateInitProductState', initProdData)
      } catch (error) {
        console.log(error)
      }
    },
    getFilterObject () {
      return {gender: this.gender, category_id: this.categoryId}
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log(to.query)
    const query = to.query
    next((vm) => {
      console.log('next')
      vm.$store.dispatch('plp/onRouteChange', query)
        .then(() => {
          vm.$store.dispatch('plp/getInitProducts')
        })
    })
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.query)
    const query = to.query
    this.$store.dispatch('plp/onRouteChange', query)
      .then(() => {
        this.$store.dispatch('plp/getInitProducts')
      })
    next()
  }
}
</script>
