<template>
  <PLPWrapper />
</template>
<script>
import store from './store'// eslint-disable-line no-unused-vars
import PLPWrapper from './components/plpWrapper'
export default {
  name: 'Search',
  components: {
    PLPWrapper
  },
  data () {
    return {
      url: `core/v2/search?phrase=${this.$route.query.phrase}`
    }
  },
  created () {
    this.$store.dispatch('plp/resetState', this.url)
  },
  beforeRouteEnter (to, from, next) {
    console.log(to.query)
    const query = to.query
    next((vm) => {
      console.log('next')
      vm.$store.dispatch('plp/onRouteChange', query)
        .then(() => {
          vm.$store.dispatch('plp/getInitProducts')
        })
    })
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.query)
    const query = to.query
    this.$store.dispatch('plp/onRouteChange', query)
      .then(() => {
        this.$store.dispatch('plp/getInitProducts')
      })
    next()
  }
}
</script>
