<template>
  <div v-if="brandsList.length">
    <div class="brand_banner">
      <span class="secttion_title">
        {{brandsOfDay.section_title}}
      </span>
      <div class="brand_card_wrapper">
        <div class="brand_card" v-for="(brand, index) in brandsOfDay.section_data" :key="index">
            <div class="brand_cardImg">
                <div class="cardImg_hideOverflow">
                    <router-link :to="brand.href">
                      <img :src="brand.content_image" alt="" class="cardImg">
                    </router-link>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="brands_list">
      <ul>
        <li v-for="(brandListObj, index) in brandsList" :key="index">
          <span class="brand_section">{{brandListObj.alphabet}}</span>
          <ul>
            <li class="brand_list_name" v-for="(brand, index) in brandListObj.manufacturers" :key="index">
              <router-link :to="brand.manufacturer_href" v-if="brand.manufacturer_href">
                <span class="brand_logo">
                  <img :src="brand.manufacturer_logo" alt="">
                </span>
                <span class="brand_name">
                  {{brand.manufacturer_name}}
                </span>
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import service from './service'
export default {
  name: 'BrandsList',
  data () {
    return {
      gender_id: 0,
      brandsList: [],
      brandsOfDay: []
    }
  },
  created () {
    const { gender } = this.$route.params
    if (gender === 'men') {
      this.gender_id = 101
    } else if (gender === 'women') {
      this.gender_id = 1
    } else if (gender === 'undefined') {
      this.gender_id = 0
    } else {
      // redirect
    }
    this.getBrandsList()
  },
  methods: {
    async getBrandsList () {
      try {
        const response = await service.getBrandsList(this.gender_id)
        const responseData = response.data.data
        this.brandsList = responseData.a_z_brands
        this.brandsOfDay = responseData.brands_promotion[0]
      } catch (error) {
        console.log(error.response)
      }
    }
  }
}
</script>
<style lang="scss">
@import '~style/brand.scss'
</style>
