.home_action_btn {
  position: absolute;
  bottom:0;
}

.home_action_btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  a {
      background:var(--white);
      border-radius: 32px;
      line-height: 35px;
      color:#323a45;
      display: inline-block;
      width:130px;
      margin:0px 10px 30px 10px;
  }
}

.home_banner {
  position: relative;
  & h1 { 
  position: absolute;
  top: 18%;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 60px;
  font-weight: 600;
  color:var(--white);
  }
}
.home_two_card {
  padding:25px 15px;
  & img {
      margin-bottom:15px;
  }
}

.subscription {
  background:#C4D0D9;
  color:#fff;
  text-align: center;
  padding:35px 0px 40px;
  width:100%;
  
  & p {
      font-size: calc-rem(20);
      font-weight: 500;
      margin-bottom: 5px;
  }

  & span {
      font-size: calc-rem(15);
      font-weight: 500;
      display: block;
      margin-bottom:30px;
  }
}

.subscribe_input {
  display: block;
  width: 290px;
  margin: 0 auto 15px;
  line-height: 38px;
  border-radius: 32px;
  border: none;
  padding-left:15px;
  font-size: calc-rem(15);
  color:var(--primeGray);
  font-weight: 500;

}

.subscribe_button {
  display: block;
  width:290px;
  margin:0 auto;
  line-height: 38px;
  border: none;
}