<template>
  <div id="header_component" :class="[$store.state.common.headerClass, $store.state.common.menuToggle ? 'menu_active': '']">
    <div class="sidebar">
      <ul class="main_menu">
        <li class="men_menu"
          :class="selectedGender === 'men'? 'gender_active': ''"
          @click="selectedGender = 'men'">
          Men
        </li>
        <li class="women_menu"
          :class="selectedGender === 'women'? 'gender_active': ''"
          @click="selectedGender='women'">
          Women
        </li>
      </ul>
      <ul class="submenu"
        v-for="(navSection, index) in navigation"
        :key="index"
        v-if="selectedGender === navSection.name.toLowerCase()">
        <template v-for="(section,index) in navSection.navigation">
          <li class="accordian_wrapper" v-if="section.childrens.length"  :key="index">
            <input type="checkbox" name="accordion" :id="`${navSection.name}-${section.name}`">
            <label :for="`${navSection.name}-${section.name}`">{{section.name}}
              <span class="open_arrow"></span>
              <!-- <span class="global_icon close_arrow"></span> -->
            </label>
            <ul class="inner_submenu">
              <li v-for="(subSection, index) in section.childrens" :key="index">
                <router-link :to="subSection.url">
                  {{subSection.name}}
                  <!-- <span class="counts">(***)</span> -->
                </router-link>
              </li>
            </ul>
          </li>
          <li v-else :key="index">
            <router-link :to="section.url">
              {{section.name}}
            </router-link>
          </li>
        </template>
      </ul>
      <!-- logged in -->
      <ul class="submenu" v-if="$store.state.common.isLogin">
        <span class="account_title">ACCOUNT</span>
        <li>
          <a :href="profile">My Profile</a>
        </li>
        <li>
          <a :href="wishlist">My Wishlist</a>
        </li>
        <li>
          <a :href="orders">My Orders</a>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
      <!-- non Logged in -->
      <ul class="submenu" v-else>
        <span class="account_title">ACCOUNT</span>
        <li>
          <a :href="loginURL">Login</a>
        </li>
        <li>
          <a :href="signupURL">Signup</a>
        </li>
      </ul>
    </div>
    <div class="nav_section">
      <div class="left_nav">
        <span class="global_icon nav_icons nav_icons--burger" @click="handleMenu(true)"></span>
        <span class="global_icon nav_icons nav_icons--backButton" @click="goBack"></span>
      </div>
      <div class="logo">
        <router-link to="/">
          <img src="~images/styfi_logo.png" alt="sytfi logo">
        </router-link>
        <span class="page_title" v-html="$store.state.common.title"></span>
      </div>
      <div class="right_nav">
        <span class="global_icon nav_icons nav_icons--search" @click="navigateSearch"></span>
        <span class="global_icon nav_icons nav_icons--share"
          v-if="nativeShare" @click="handleNativeShare"></span>
        <span class="global_icon nav_icons nav_icons--cart" @click="handleCartIcon">
          <span id="cart_count">{{bagCount}}</span>
        </span>
      </div>
    </div>
    <div class="search_bar">
      <div class="search_bar_wrapper">
        <input type="text" placeholder="What are you looking for?" @click="$router.push({path: '/autosuggest'})">
        <span class="global_icon search_icon"></span>
      </div>
    </div>
    <div class="background_fadein" @click="handleMenu(false)"></div>
  </div>
</template>
<script>
import { navigation } from '../constant'
import { mapGetters } from 'vuex'
export default {
  name: 'HeaderComponent',
  data () {
    return {
      navigation,
      selectedGender: 'men',
      profile: process.env.VUE_APP_STYFIPROFILE,
      orders: process.env.VUE_APP_STYFIORDER,
      wishlist: process.env.VUE_APP_STYFIWISHLIST,
      signup: `${process.env.VUE_APP_STYFIENGAGE}/Signup`,
      login: process.env.VUE_APP_STYFIENGAGE
    }
  },
  methods: {
    handleMenu (boolValue) {
      this.$store.dispatch('common/toogleMenu', boolValue)
      this.$store.dispatch('common/updateFixedScroll', boolValue)
    },
    goBack () {
      this.$router.go(-1)
    },
    handleNativeShare () {
      navigator.share({
        title: this.$store.state.common.title,
        url: this.$route.path
      })
    },
    handleCartIcon () {
      window.location = process.env.VUE_APP_CHECKOUT
    },
    navigateSearch () {
      this.$router.push({path: '/autosuggest'})
    }
  },
  computed: {
    ...mapGetters({
      bagCount: 'common/bagsProductCount'
    }),
    nativeShare () {
      return !!navigator.share
    },
    loginURL () {
      return `${this.login}/?referer=${this.$route.fullPath}`
    },
    signupURL () {
      return `${this.signup}/?referer=${this.$route.fullPath}`
    }
  }
}
</script>
