<template>
  <div class="product_card" :class="scroll ? 'scroll_ProductCard': 'half_ProductCard'">
    <div :class="card ? 'container--shadow container--radius' : ''">
      <div class="productCard_img">
        <div class="cardImg_hideOverflow">
          <img
            :src="getImageFromObject(product.image, 'jpg', 0, 'small')"
            @click="routeToProduct"
            alt=""
            class="cardImg">
          <!-- <router-link :to="product.href">
          </router-link> -->
        </div>
      </div>
      <div class="productCard_info">
        <div class="productCard_brand">
          <span>
            {{product.brand.name}}
          </span>
        </div>
        <div class="productCard_name" style="">
          <span>
            {{product.name}}
          </span>
        </div>
        <div class="productCard_price">
          <div>
            <span class="ogPrice" v-if="(product.offer.original_price > product.offer.selling_price)">
              Rs.{{product.offer.original_price}}
            </span>
            <span>
              Rs.{{product.offer.selling_price}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {getImageFromObject} from 'utils'
export default {
  name: 'ProductCard',
  props: {
    product: {
      type: Object,
      default () {
        return {}
      }
    },
    card: {
      type: Boolean,
      default () {
        return false
      }
    },
    scroll: {
      type: Boolean,
      default () {
        return true
      }
    }
  },
  methods: {
    routeToProduct () {
      const routeObj = {
        url: `${this.product.href}`,
        foreignKey: this.product.product_id
      }
      this.$store.dispatch('common/updateTitle', this.product.name)
      this.$store.dispatch('common/updateRouteData', routeObj)
        .then(() => {
          this.$router.push({path: `${this.product.href}?color_id=${this.product.color.id}`})
        })
    },
    getImageFromObject
  }
}
</script>
