<template>
  <div class="section_wrapper_plane">
    <ScrollWrapper :processing="processing" :isError="isError" :isOver="isOver" @toFetch="getLooksList">
      <look-card v-for="(look, index) in lookList" :key="index" :lookDetail="look" cardType="vertical"/>
    </ScrollWrapper>
    <div class="explore_news_comingup" v-if="isOver">New looks added every week</div>
  </div>
</template>
<script>
import service from './service'
import ScrollWrapper from '../../components/scrollComponent'
import LookCard from '../../components/lookCard'
export default {
  name: 'LooksList',
  data () {
    return {
      id: this.$store.state.common.routeData.foreignKey,
      gender: this.$route.params.gender === 'men' ? 'male' : 'female',
      lookList: [],
      pageCount: 0,
      processing: true,
      isError: false,
      isOver: false
    }
  },
  created () {
    this.getLooksList()
  },
  components: {
    ScrollWrapper,
    LookCard
  },
  methods: {
    async getLooksList () {
      this.processing = true
      try {
        const responseData = await service.getLooksList(this.gender, this.pageCount, this.id)
        const newList = responseData.data.data
        if (newList.length) {
          this.pageCount += 1
          this.lookList = [...this.lookList, ...newList]
        } else {
          this.isOver = true
        }
        this.processing = false
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
