<template>
  <div class="landing_section">
    {{is}}
    <template v-for="(sectionData, index) in pageData">
      <component :is="sectionData.section_type" :key="index" :sectionData="sectionData" />
    </template>
  </div>
</template>
<script>
import service from './service'

const components = {
  'APP-CIRCLE-GRID-1': () => import('./components/categories'),
  'APP-HORIZONTAL-BANNERS': () => import('./components/horizontalbanner'),
  'APP-THREE-GRID': () => import('./components/threegridbanner'),
  'APP-BANNER-LOGIN-STRIP': () => import('./components/staticbanner'),
  'APP-MULTI-BANNERS': () => import('./components/multibanner'),
  'APP-FOUR-LOOK-GRID': () => import('./components/fourgrid'),
  'APP-BANNER-NON-CLICKABLE-STRIP': () => import('./components/staticbanner'),
  'APP-MULTI-LOOK-GRID': () => import('./components/lookgrid'),
  'APP-SQUARE-BANNER': () => import('./components/squarebanner'),
  'APP-PRODUCT-GRID-1': () => import('./components/productgrid'),
  'APP-BANNER-STRIP': () => import('./components/staticbanner'),
  'APP-QUOTE-STRIP': () => import('./components/quotes')
}
const SECTIONTYPES = [
  'APP-CIRCLE-GRID-1',
  'APP-HORIZONTAL-BANNERS',
  'APP-THREE-GRID',
  'APP-BANNER-LOGIN-STRIP',
  'APP-MULTI-BANNERS',
  'APP-FOUR-LOOK-GRID',
  'APP-BANNER-NON-CLICKABLE-STRIP',
  'APP-MULTI-LOOK-GRID',
  'APP-SQUARE-BANNER',
  'APP-PRODUCT-GRID-1',
  'APP-BANNER-STRIP',
  'APP-QUOTE-STRIP'
]
/* 'APP-PRODUCT-RECENTLY-VIEWED', */
export default {
  name: 'GenderLandingPage',
  components,
  data () {
    return {
      gender: null,
      pageData: []
    }
  },
  created () {
    const {gender} = this.$route.params
    this.initData(gender)
    this.getLandingDetails()
  },
  methods: {
    initData (gender) {
      if (gender === 'men') {
        this.gender = 'male'
      } else if (gender === 'women') {
        this.gender = 'female'
      } else {
        // redirect;
      }
    },
    async getLandingDetails () {
      try {
        const response = await service.getLandingData(this.gender)
        this.pageData = response.data
        console.log(this.pageData)
      } catch (error) {
        console.log(error.response)
      }
    },
    checkSectionType (sectionType) {
      const index = SECTIONTYPES.findIndex(sectionType)
      return index > 0
    }
  }
  /* beforeRouteUpdate (to, from, next) {
    const {gender} = to.params
    this.initData(gender)
    this.getLandingDetails()
    next()
  } */
}
</script>
<style lang="scss">
  @import "~style/mixin";
  @import '~style/genderlanding';
</style>
