<template>
  <div v-if="exploreData">
    <template v-for="(exploreSection,index) in exploreData">
      <component :is="`${exploreSection.section_topic_type}_${exploreSection.section_id}`" :sectionData="exploreSection" :key="index"/>
    </template>
    <component :is="blogComponent" :sectionData="blogList"></component>
  </div>
</template>
<script>
import service from './service'
import TrendingSlider from './components/slider'
import TrendingLooks from './components/looks'
import CuratedCollection from './components/collection'
export default {
  name: 'ExploreList',
  components: {
    'collections_1': TrendingSlider,
    'looks_2': TrendingLooks,
    'collections_4': CuratedCollection
  },
  data () {
    return {
      gender: null,
      exploreData: null,
      blogList: null,
      blogComponent: null
    }
  },
  mounted () {
    const { gender } = this.$route.params
    if (gender === 'men') {
      this.gender = 'male'
    } else if (gender === 'women') {
      this.gender = 'female'
    } else {
      // redirect
    }
    this.getExploreDetail()
    this.getBlogList()
  },
  methods: {
    async getExploreDetail () {
      try {
        const responseData = await service.getExploreListing(this.gender)
        this.exploreData = responseData.data.data
      } catch (error) {
        console.log(error)
      }
    },
    async getBlogList () {
      try {
        const responseData = await service.getBlogList(this.gender)
        this.blogList = responseData.data.data[0]
        this.blogComponent = () => import(/* webpackChunkName "blogList" */ './components/blog')
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
<style lang="scss">
@import '~style/mixin.scss';
@import '~style/explore.scss'
</style>
