<template>
  <div id="app">
    <!-- :key="$route.path" -->
    <keep-alive include="GenderLandingPage,BrandsList,ExploreList">
      <router-view :key="$route.path"/>
    </keep-alive>
    <portal target-el=".header">
      <header-component />
    </portal>
  </div>
</template>
<script>
import HeaderComponent from './components/headerComponent'
import {checkToken, syncCart, getTrendingSearch} from './utils'
export default {
  components: {
    HeaderComponent
  },
  mounted () {
    console.log(this.$route)
    checkToken()
      .then((data) => {
        this.$store.dispatch('common/tokenVerification', data.is_login)
        syncCart()
      })
    getTrendingSearch()
  },
  watch: {
    '$store.state.common.fixedScroll' (val) {
      const body = document.querySelector('body')
      if (val) {
        body.classList.add('modalOpen')
      } else {
        body.classList.remove('modalOpen')
      }
    }
  }
}
</script>

<style lang="scss">
@import "~style/mixin";
@import '~style/common';
@import '~style/fonts';
@import '~style/navigation';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,body{
  height: 100%;
  background:#f5f5f5;
  margin: 0;
}
body {
  font-family: "Avenir","Helvetica Neue", Helvetica, Arial, sans-serif;//$font-family-base;
  font-size: 16;
  line-height: 1.5;
  color: #373a3c;
  letter-spacing: .5;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
//hack for slick slider
*{
  min-height: 0;
  min-width: 0;
}
</style>
