<template>
  <div class="section_wrapper">
    <router-link v-if="sectionData.section_data[0].href" :to="sectionData.section_data[0].href">
      <div class="container container384_90">
        <figure>
          <img :src="sectionData.section_data[0].content_image.mobile" alt="" class="responsive_image">
        </figure>
      </div>
    </router-link>
    <div class="container container384_45" v-else>
      <figure>
        <img :src="sectionData.section_data[0].content_image.mobile" alt="" class="responsive_image">
      </figure>
    </div>
  </div>
</template>
<script>
import mixin from '../mixin'
export default {
  mixins: [mixin]
}
</script>
